/*workspace*/
.workspace {
    position: fixed;

    top: 38px;
    left: 0;
    width: 100%;
    height: calc(100vh - 38px);

    box-sizing: border-box;
    overflow: auto;

    background-image:
        linear-gradient(#4f4e4e 1px, transparent 1px),
        linear-gradient(90deg, #4f4e4e 1px, transparent 1px);

    background-size: 10px 10px;
    z-index: 1;
    transition: width 0.25s ease, left 0.25s ease;
}
.workspace.open{
    width: calc(100% - 280px);
    left: 280px;
}

/*Widgets*/
.widgetFrame{
    background-color: #34404d;
    border: 1px solid hsl(211, 31%, 37%);
    border-radius: 1px;
    
    width: 300px;
    height: 180px;
    margin-left: 200px;
    margin-top: 100px;
}
.widgetHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 0.5px solid #060606;
    padding: 4px;   
}
.widgetTitle {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 4px;
}

.parameterName {
    color: #e8eaed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.subsystemName {
    color: #6f7b85;
    font-family: sans-serif;
    font-size: 9px;
}
.widgetHeader button{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: #96a9bd;
}



.emptyWorkspaceText {
    color: #96a9bd;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    
    padding: 4px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    letter-spacing: 1px;
}